.lblStyle
{
    font-size: large;
    color: #99FFCC;
    background-color: #000000;
    border-style: outset;
}
.btnStyle
{
    font-size: large;
    background-color: #800000;
    color: #FFFFFF;
    font-weight: bold;
}
.gridStyle
{
    font-weight: bold;
    color: #000000;
    background-color: #C0C0C0;
    border: 3px solid #FF0000;
}
